.movie-form{
    margin-left: 70px;
}



#left{
    float: left;
    width: 30%;
    overflow: hidden;
}

#right {
    margin-top: 30px;
    overflow: hidden;
}

hr{
    border: 1px solid red;
}

#table{
    border: 1px solid red;
}




